<h1>
  Викладачі кафедри
</h1>

<p>
  З 2005 року кафедру іноземних мов очолює доцент, кандидат педагогічних наук Литвин Світлана Володимирівна.
  Ефективну діяльність кафедри реалізують 13 висококваліфікованих співробітників серед яких 5 старших викладачів (Кот Олександр Васильович, Местхарм Олена Адамівна, Пасенко Наталія Володимирівна, Светенок Людмила Костянтинівна, Юсухно Світлана Іванівна),   6 викладачів (Альмяшева Антоніна Олександрівна, Корець Тетяна Василівна, Кормільцина Світлана Юріївна, Лепеха Олена Володимирівна, Струтинська Вікторія Василівна, Яковенко Тетяна Миколаївна) та старший лаборант (Пасенко Інна Леонідівна).
</p>

<div style="text-align:center">
  <%= image_tag "litvin.jpg" %>
  <p style="font-style:italic">
    Завідувач кафедри, доцент, кандидат педагогічних наук Литвин Світлана Володимирівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "kot1.jpg" %>
  <p style="font-style:italic">
    Старший викладач Кот О.В.
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "mesth.jpg" %>
  <p style="font-style:italic">
    Cтарший викладач Местхарм Олена Адамівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "pasenkon1.jpg" %>
  <p style="font-style:italic">
    Cтарший викладач Пасенко Наталія Володимирівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "sveten.jpg" %>
  <p style="font-style:italic">
    Cтарший викладач Светенок Людмила Костянтинівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "usuhno.jpg" %>
  <p style="font-style:italic">
    Cтарший викладач Юсухно Світлана Іванівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "alm.jpg" %>
  <p style="font-style:italic">
    Викладач Альмяшева Антоніна Олександрівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "korets.jpg" %>
  <p style="font-style:italic">
    Викладач Корець Тетяна Василівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "korm.jpg" %>
  <p style="font-style:italic">
    Викладач Кормільцина Світлана Юріївна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "lepeha.jpg" %>
  <p style="font-style:italic">
    Викладач Лепеха Олена Володимирівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "strut.jpg" %>
  <p style="font-style:italic">
    Викладач Струтинська Вікторія Василівна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "yakov.jpg" %>
  <p style="font-style:italic">
    Викладач Яковенко Тетяна Миколаївна
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "natasha.jpg" %>
  <p style="font-style:italic">
   Бараненкова Наталія Анатоліївна, кандидат педагогічних наук, старший викладач англійської мови  </p>
</div>

<div style="text-align:center">
  <%= image_tag "pasen.jpg" %>
  <p style="font-style:italic">
    Cтарший лаборант Пасенко Інна Леонідівна
  </p>
</div>
