<h1>
  Teachers
</h1>

<p>
 The Department of Foreign Languages  is headed by associate professor, PhD in Pedagogics  Lytvyn Svitlana Volodymyrovna since  2005. The teaching staff consists of 13 highly-qualified lecturers:
Senior lecturers Kot Olexandr Vasyliovych, Mestkharm Olena Adamivna, Pasenko Natalia Volodymyrivna, Svetenok Liudmyla Kostiantynivna, Yusukhno Svitlana Ivanivna; lecturers Almiasheva Antonina Olexandrivna, Korets Tetiana Vasylivna, Kormiltsyna Svitlana Yuriivna, Lepekha Olena Volodymyrivna, Strutynska Victoria Vasylivna, Yakovenko Tetyana Mykolaivna and senior lab assistant Pasenko Inna Leonidivna.
</p>

<div style="text-align:center">
  <%= image_tag "litvin.jpg" %>
  <p style="font-style:italic">
    Head of the Department, Litvin Svitlana Volodymyrivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "kot1.jpg" %>
  <p style="font-style:italic">
   Senior lecturer Kot O.V.
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "mesth.jpg" %>
  <p style="font-style:italic">
    Senior lecturer Mestkharm Olena Adamivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "pasenkon1.jpg" %>
  <p style="font-style:italic">
    Senior lecturer Pasenko Natalia Volodymyrivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "sveten.jpg" %>
  <p style="font-style:italic">
    Senior lecturer Svetenok Liudmyla Kostiantynivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "usuhno.jpg" %>
  <p style="font-style:italic">
    Senior lecturer Yusukhno Svitlana Ivanivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "alm.jpg" %>
  <p style="font-style:italic">
    Lecturer Almiasheva Antonina Olexandrivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "korets.jpg" %>
  <p style="font-style:italic">
    Lecturer Korets Tetiana Vasylivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "korm.jpg" %>
  <p style="font-style:italic">
    Lecturer Kormiltsyna Svitlana Yuriivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "lepeha.jpg" %>
  <p style="font-style:italic">
    Lecturer Lepekha Olena Volodymyrivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "strut.jpg" %>
  <p style="font-style:italic">
    Lecturer Strutynska Victoria Vasylivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "yakov.jpg" %>
  <p style="font-style:italic">
    Lecturer Yakovenko Tetiyana Mykolaivna
  </p>
</div>

<div style="text-align:center">
  <%= image_tag "natasha.jpg" %>
  <p style="font-style:italic">
   Foreign Languages Ph.D., Senior Lecturer Baranenkova Natalija Anatolijivna
 </p>
</div>

<div style="text-align:center">
  <%= image_tag "pasen.jpg" %>
  <p style="font-style:italic">
    Senior lab assistant Pasenko Inna Leonidivna
  </p>
</div>
