<!DOCTYPE html>
<html>
  <head>
    <title>ForeignLanguages</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="super_wrapper">
      <div id="wrapper">
        <div id="header">
          <div id="header_content">
            <div id="header_main">
              <%= raw I18n.t('header.cstu') %>
            </div>
            <div id="header_sub">
              <div id="dep_title">
                <%= I18n.t('header.department') %>
              </div>
              <div id="menu">
                <div id="menu_main">
                  <%= link_to I18n.t('main_menu.index'), url_for(:controller => :home, :action => :index), :class => :menu_elem %>
                  <%# link_to I18n.t('main_menu.news'), '#', :class => :menu_elem %>
                  <%= link_to I18n.t('main_menu.history'), url_for(:controller => :home, :action => :history), :class => :menu_elem %>
                  <%= link_to I18n.t('main_menu.teaching_methods'), url_for(:controller => :home, :action => :teaching_methods),
                    :class => :menu_elem %>
                  <%= link_to I18n.t('main_menu.teachers'), url_for(:controller => :home, :action => :teachers), :class => :menu_elem %>
                  <%= link_to I18n.t('main_menu.methods'), url_for(:controller => :home, :action => :methods), :class => :menu_elem %>
                </div>
                <div id="menu_lang">
                  <%= link_to image_tag("ua.png"), url_for(:controller => :home, :action => :select_locale, :locale => "uk")%>
                  <%= link_to image_tag("gb.png"), url_for(:controller => :home, :action => :select_locale, :locale => "en")%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="main_container">
          <div id="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer_container">
        <%= raw I18n.t('footer.copyright') %>
      </div>
    </div>
  </body>
</html>
